
.kt-aside-menu,
#kt_aside_menu_wrapper {
    background-color:  #0b1c2c;
}

#kt_subheader{
	/*background-color: #fe9e02;*/
}

.kt-aside__brand{
	background-color: white;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link, {
    background-color: #fe9e02;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    /*background-color: #091621;*/
     background-color: #f10216;
}

/*.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon {
    filter:  invert(100%) sepia(0%) saturate(7468%) hue-rotate(11deg) brightness(109%) contrast(109%);
}*/


/*.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    filter: invert(68%) sepia(9%) saturate(453%) hue-rotate(199deg) brightness(89%) contrast(91%);
}*/

/*.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(297deg) brightness(105%) contrast(105%);
}
*/

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon {
    color: white;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    color:  #97979b;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
	background-color:#091621;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
    color: white;
}


.search-input{
	border-radius: 0px 5px 5px 0px !important; 
	background-color: rgba(11,28,44,.1);
	border:none;
}

.info-aset{
	padding: 60px 15px;
	/*background-color:  #fda109;*/
	color:   #0b1c2c;
}
.info-aset-2{
	padding: 15px 15px;
	/*background-color:  #fda109;*/
	color:   #0b1c2c;
}
.info-aset-3{
	padding: 15px 15px;
	/*background-color:  #fda109;*/
	color:   #212121;
}
.info-aset-icon{
	font-size: 3rem;
	/*color: white;*/
	margin-bottom: 15px;
}
.info-aset-iconTanah{
	font-size: 3rem;
	margin-top: -10px;
	margin-bottom: 6px;
}
.icon-yellow{
	color: #9E9E9E;
}

.red-dark{
	background-color: #f10216;
	color: white;
}

.orange-dark{
	background-color: #fda109;
	color: white;
}

.custome-portlet{
	padding: 0px;background-color: #fda109; color: white;
}

.custome-row{
	background-color: #0b1c2c;margin-right: 0px;margin-left: 0px;padding: 10px 15px;border-radius: 4px 4px 0px 0px;
}

.custome-portlet-red{
	background-color: #f21225;
}

#keteranganStatistik span{
	font-size: 1.1rem;
	font-weight: 500;
	color: #212121; 
}

#keteranganStatistik p{
	font-size: 1.1rem;
	font-weight: 500;
	color: #0B1C2C;
	margin-top: 10px;
}

#trends i{
	font-size: 1.5rem;
}
.kt-header-mobile{
	background-color:white;
}
.d-sm-none{
	display: block;
}

.nama-bidang-wrap .kt-portlet{
   border: 1px solid #0B1C2C3B;
}

.header-fixed {
   position: fixed;
   top: 0px; display:none;
   background-color:white;
}

.namaBidang{
   line-height: 1.5;
}

/*Responsive*/
@media(max-width: 1024px){
	.d-sm-none{
		display: none;
	}
	.kt-aside{
		background: #0B1C2C;
	}
	.kt-menu-link-icon{
		margin-right: 10px
	}
	.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon{
		margin-right: 15px;
	}
	#kt_header_mobile_toggler,
	#kt_header_mobile_topbar_toggler{
		display: none;
	}
	.kt-header__topbar-user img{
		margin-top: 13.5px;
	}
	.info-aset{
		height: 18.25rem;
	}
	.info-aset-icon{
		margin-bottom: 5px;
		/*color: #22629b;*/
		font-size: 2.5rem
	}
	.infoAset{
		margin-top: 0px;
		font-size: 1.5rem;
		font-weight: 500;
		color: #0b1c2c;
	}
	#info-mobile h6,{
		color: #0b1c2c;
	}
	#info-mobile .card{
		margin-bottom: 5px;
	}
	.target-jatuh-tempo{
		padding: 0px 20px;
	}
	tspan{
		font-size: .85rem;
	}
}